<!-- <button mat-button [matMenuTriggerFor]="menu">Change Theme - Client Side</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Dark Theme</button>
  <button mat-menu-item>Light Theme</button>
</mat-menu> -->
<div class="container">
    <mat-card>
        <mat-card-header> <mat-card-title>Choose Theme</mat-card-title> <mat-card-subtitle>Current Theme : {{this.curntTheme}}</mat-card-subtitle></mat-card-header>
       
        <mat-card-content class="container">
            <mat-radio-group [(ngModel)]="curntTheme">
                <div class="container"  *ngFor="let them of theme"> <mat-radio-button value="{{them.value}}"  >{{them.label}}</mat-radio-button></div>
                 
                </mat-radio-group>
        </mat-card-content>
        <div style="text-align:right">
            <button color=accent mat-button (click)="updateTheme()">
                Submit
              </button>
        </div>
      </mat-card>
    
   
</div>


  <!-- <mat-form-field>
    <mat-select placeholder="Select Theme" [(ngModel)]="theme" >
      <mat-option value="dark">
        Dark Theme
      </mat-option>
      <mat-option value="light">
        Light Theme
      </mat-option>
    </mat-select>
  </mat-form-field> -->
 