<div class="hp-banner">

  <img src="assets/images/detailed-banner1.jpg" alt="">

</div>

<!-- <mat-tab-group>

  <div *ngFor="let city of city_list">
    <mat-tab label={{city.city}}>

      <mat-card>
        <div class="row">
          <div class="col-sm-4">1</div>
          <div class="col-sm-4">2</div>
          <div class="col-sm-4">3</div>
        </div>
      </mat-card>


    </mat-tab>
  </div>


</mat-tab-group> -->


<mat-card style="margin-left: 20px;margin-top: 10px;margin-right: 20px;">
  <div class="row">
    <div class="col-sm-4">
      <mat-select placeholder="Select Date">
        <mat-option *ngFor="let dat of date" (click)="dateChange(dat)" [value]="dat">
          {{dat.date | date : 'fullDate'}} - {{dat.city}}
        </mat-option>
      </mat-select>
    </div>
    <div class="col-sm-2">

    </div>
    
  </div>
</mat-card>


<!-- 
<div *ngFor="let dat of date">
  <mat-card style="margin-left: 20px;margin-top: 5px;margin-right: 20px;height: 150px;">
    <div class="row">
      <div class="col-sm-4">
        <div
          style="height: 100px;margin: 0;position: absolute;top: 50%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">
          {{dat | date : 'shortDate'}}
        </div>
      </div>

      <div class="col-sm-4">

        <label>Morning</label> <br>
        <label>Afternoon</label> <br>
        <label>Evening</label> <br>


      </div>
      <div class="col-sm-4"></div>
    </div>
  </mat-card>
</div> -->


